<header>
  <nav class="header-nav">
    <a href="index.html" class="logo">
      <img src="assets/winprofilogo1.PNG" alt="WinProfi Logo" />
    </a>
    <div class="nav-actions">
    <div id="profile" class="profile">
        <img id="profilePic" src="assets/default-avatar.png" alt="Profilbild" class="clickable-profile" />
        <div class="profile-menu hidden" id="profileMenu">
        <a href="profile.html" class="menu-item">Mein Profil</a>
        <button id="logoutBtn" class="menu-item">Logout</button>
        </div>
    </div>
    <div id="authButtons" class="auth-buttons hidden">
      <button id="loginBtn" class="menu-item">Login</button>
      <button id="registerBtn" class="menu-item">Registrieren</button>
    </div>
    </div>
  </nav>
</header>